{% extends 'base.html' %}
{% load staticfiles %}
{% load static_pages %}
{% block scripts %}
<script language="javascript">

    $(document).ready(function () {



        $("#menu-sprites").kendoMenu({
            dataSource: [{
                    text: "Brazil", spriteCssClass: "brazilFlag", items: [
                        { text: "History", spriteCssClass: "historyIcon" },
                        { text: "Geography", spriteCssClass: "geographyIcon" },
                    ]
                },
                {
                    text: "India", spriteCssClass: "indiaFlag", items: [
                        { text: "History", spriteCssClass: "historyIcon" },
                        { text: "Geography", spriteCssClass: "geographyIcon" },
                    ]
                },
                {
                    text: "Netherlands", spriteCssClass: "netherlandsFlag", items: [
                        { text: "History", spriteCssClass: "historyIcon" },
                        { text: "Geography", spriteCssClass: "geographyIcon" },
                    ]
                }]
        });


        var dataSource = new kendo.data.DataSource({
            transport: {
                read: function(options) {
                    q = null;
                    $.ajax({
                        type: "GET",
                        url: '{% url 'claim:claims_list' %}?q=' + q,
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: q,
                        success: function(data) {
                            options.success(data);
                        }
                    });
                }
            },
            schema: {
                model: {
                    fields: {
                        claim_id: { type: "number" },
                        claim_vyl: { type: "number" },
                        claim_kv: { type: "number" },
                        claim_login: { type: "string" }
                    }
                }
            },
            pageSize: 30,
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        });


{#        var dataSource = new kendo.data.DataSource({#}
{#            transport: {#}
{#                read: function(options) {#}
{#                    q = 1#}
{#                    var url = '{% url 'claim:claims_list' %}?q=' + q;#}
{#                    $.getJSON(url, function(data) {#}
{#                        console.log(data);#}
{#                        $.each(data, function() {#}
{#                            $('#claim_id').val(this.claim_id);#}
{#                            $('#claim_vyl').val(this.claim_vyl);#}
{#                        })#}
{#                    });#}
{#                }#}
{#            },#}
{#            schema: {#}
{#                model: {#}
{#                    fields: {#}
{#                        claim_id: { type: "number" },#}
{#                        claim_vyl: { type: "number" },#}
{#                        claim_kv: { type: "number" },#}
{#                        claim_login: { type: "string" }#}
{#                    }#}
{#                }#}
{#            },#}
{#            pageSize: 30,#}
{#            serverPaging: true,#}
{#            serverFiltering: true,#}
{#            serverSorting: true#}
{#        });#}



        $("#grid").kendoGrid({
            dataSource: dataSource,
            editable: "popup",
            toolbar: ["create", "save", "cancel"],
            //toolbar: kendo.template($("#template").html()),
            height: 540,
            sortable: {
                mode: "multiple"
            },
            filterable: true,
            columnMenu: true,
            pageable: true,
            columns: [ {
                    field: "claim_id",
                    title: "claim_id",
                    width: 100
                }, {
                    field: "claim_vyl",
                    title: "claim_vyl",
                    width: 100
                }, {
                    field: "claim_kv",
                    title: "claim_kv",
                    width: 100
                }, {
                    field: "claim_login",
                    filterable: false
                }, { command: [{ name: "edit" }] }
            ]
        });
    });
</script>
{% endblock %}
{% block content %}
    <div id="menu-sprites"></div>
    <div id="dtabstrip">
        <ul>
            <li class="k-state-active">First Tab
                <input type='button' value='X' onClick='DeleteTabs(this);'>
            </li>
            <li class="">Second Tab
                <input type='button' value='X' onClick='DeleteTabs(this);'>
            </li>
        </ul>
        <div>
            <div id="grid" style="height: 380px"></div>
        </div>
        <div>
            2222ssadasfas
        </div>
    </div>
    <script>
        var dtabStrip = $("#dtabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                },
                close: {
                    duration: 200,
                    effects: "fadeOut"
                }
            }

        }).data("kendoTabStrip");

		function DeleteTabs(ImgObj) {
            var aa = $(ImgObj).closest("li").text() ;
            dtabStrip.remove($(ImgObj).closest("li").index());
        }
    </script>
    <script type="text/x-kendo-template" id="template">
        <div class="toolbar">
            <label class="category-label" for="category">Show products by category:</label>
            <input type="search" id="category" style="width: 150px"/>
        </div>
    </script>

{% endblock %}