ul h3 {
    font-size: 14px;
}
body {
    font-size: 12px;
}

.list-group-item {
    list-style: none;
}

.table th, .table td {
    padding: 6px;
}

.blink_td{
    border-right: 10px solid #E1962D;
}

.disable_descr {
    pointer-events:none;
}