{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link href="{% static 'claim/css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'claim/css/morris.css' %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script src="{% static 'claim/js/raphael.min.js' %}"></script>
    <script src="{% static 'claim/js/morris.js' %}"></script>
    <script>
        $(document).ready(function($) {
            var data = []
            var _chart_year = new Morris.Line({
                // ID of the element in which to draw the chart.
                element: 'claims_per_year',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: data,
                xLabels: 'year',
                // The name of the data record attribute that contains x-values.
                xkey: 'year',
                // A list of names of data record attributes that contain y-values.
                ykeys: [
                    'claims_all_count',
                    'claims_completed_count',
                    'claims_disclaim_count',
                    'claims_uncompleted_count',
                    'claims_given_to_plumber_count'
                ],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['Всі', 'Виконані', 'Відмова', 'Не виконані', 'Передано Паюнам']
            });

            $.ajax({
                type: "GET",
                async: false,
                url: '{% url 'claim:claims_statistic_year' %}',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    _chart_year.setData(data);
                }
            });

            var _chart_month = new Morris.Line({
                // ID of the element in which to draw the chart.
                element: 'claims_per_month',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: data,
                xLabels: 'month',
                // The name of the data record attribute that contains x-values.
                xkey: 'month',
                // A list of names of data record attributes that contain y-values.
                ykeys: [
                    'claims_all_count',
                    'claims_completed_count',
                    'claims_disclaim_count',
                    'claims_uncompleted_count',
                    'claims_given_to_plumber_count'
                ],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['Всі', 'Виконані', 'Відмова', 'Не виконані', 'Передано Паюнам']
            });

            $.ajax({
                type: "GET",
                async: false,
                url: '{% url 'claim:claims_statistic_month' %}',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    _chart_month.setData(data)
                }
            });

            var _chart_day = new Morris.Line({
                // ID of the element in which to draw the chart.
                element: 'claims_per_day',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: data,
                xLabels: 'day',
                // The name of the data record attribute that contains x-values.
                xkey: 'day',
                // A list of names of data record attributes that contain y-values.
                ykeys: [
                    'claims_all_count',
                    'claims_completed_count',
                    'claims_disclaim_count',
                    'claims_uncompleted_count',
                    'claims_given_to_plumber_count'
                ],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['Всі', 'Виконані', 'Відмова', 'Не виконані', 'Передано Паюнам']
            });

            $.ajax({
                type: "GET",
                async: false,
                url: '{% url 'claim:claims_statistic_day' %}',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    _chart_day.setData(data)
                }
            });

        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Статистика</a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Export</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Nav item</a></li>
                    <li><a href="">Nav item again</a></li>
                    <li><a href="">One more nav</a></li>
                    <li><a href="">Another nav item</a></li>
                    <li><a href="">More navigation</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Nav item again</a></li>
                    <li><a href="">One more nav</a></li>
                    <li><a href="">Another nav item</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-16 main">
            <ol class="breadcrumb">
                <li class="active"><a href="{% url 'claim:index' %}">Home</a></li>
                <li></li>
            </ol>
            <div id="statistics" class="page-header">
              <h1><small>Графіки інтернет заявок</small></h1>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Графік за рік</div>
                <div class="panel-body">
                    <div id="claims_per_year" style="height: 250px;"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Графік за місяць</div>
                <div class="panel-body">
                    <div id="claims_per_month" style="height: 250px;"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Графік за день</div>
                <div class="panel-body">
                    <div id="claims_per_day" style="height: 250px;"></div>
                </div>
            </div>
            <h1>Виберіть пунк для перегляду</h1>
            <div class="list-group">
                <a href="{% url 'claim:claims_internet' %}" class="list-group-item">
                    Заявки Інтернет {{ main }}
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="badge">Невиконані - {{ claim_internet_count_sf }}</span>
                    <span class="badge">Виконані - {{ claim_internet_count_st }}</span>
                    <span class="badge">Всі - {{ claim_internet_count_all }}</span>
                </a>
                <a href="#" class="list-group-item">Заявки КТБ
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="badge badge-primary">14</span>
                </a>
                <a href="{% url 'planning:index' %}" class="list-group-item">Планування підключок
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="badge">5</span>
                </a>
                <a href="/manual/" class="list-group-item">
                    Мануали
                    <span class="badge">Всі - {{ manual }}</span>
                </a>
                <br>
                <br>
                {% for key, value in a.items %}
                    { '{{ key }}': '{{ value }}', value: 20 },
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}