{% extends 'base.html' %}
{% block extra_head %}

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script>
        $(function() {
            $( "#accordion" ).accordion();
        });
    </script>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <div id="accordion">
            <h3>{{ manual.name }}</h3>
            <div>
                <p>
                    {{ manual.description|safe }}
                </p>
                <img src="{{ manual.image }}"/>
            </div>
    </div>
    {% else %}
        {{ error }}
    {% endif %}
{% endblock %}