{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link rel='stylesheet' type='text/css' href='{% static 'claim/css/fullcalendar/fullcalendar.css' %}' />
    <link rel='stylesheet' type='text/css' href='{% static 'claim/css/fullcalendar/fullcalendar.print.css' %}' />
    <script type='text/javascript' src='{% static 'claim/js/fullcalendar/fullcalendar.js' %}'></script>
    <script type='text/javascript' src='{% static 'claim/js/fullcalendar/fullcalendar.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/jquery.util.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/jquery.form.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/jquery.rpc.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/ajax-csrf.js' %}'></script>
    <script type='text/javascript' src='{% url 'api' %}'></script>
{% endblock %}
{% block scripts %}
<script language="javascript">
    $(document).ready(function() {

        var form_errors_display = function (form, data) {
            for (key in data.error) {
                if (data.error.hasOwnProperty(key)) {
                    var $field = $('input[name="' + key + '"], textarea[name="' + key + '"]', form);
                    var error = '<p class="error_list">' + data.error[key] + '</p>';
                    if ($field.length) {
                        $field.before(error);
                    } else {
                        $('.global-errors', form).prepend(error);
                    }
                }
            }
        };

        var form_clear_delete_action = function (form, data) {
            $('input[name=action_delete]', form).remove();
        };


        $(".delete-action").live('click', function () {
            var form = $(this).closest('form');
            form.append('<input type="hidden" name="action_delete" value="1">');
            form.submit();
        });

        var event_form = {
                ajax_init: function () {
                    $('#rpc-event-set-js').ajaxForm({
                        type: 'RPC',
                        api: {
                            submit: CalendarApi.events_set
                        },
                        success: function (data, rpc_response, $form) {
                            if (data.success) {
                                $('#calendar').fullCalendar('refetchEvents');
                                $('#add-event-popup').modal('hide');
                            } else {

                            }
                        },
                        error: function (data, rpc_response, $form) {

                        },
                        beforeSubmit: function (formData, $form, options) {

                        }
                    });
                },
                rollback: null
            };

        var calendar = {
            events_get: function(start, end, callback) {
                CalendarApi.events_get(start, end, function(data) {
                    callback(data);
                });
            },

            events_update_form: function (event, start, end) {
                if (!event) {
                    // new slot creation. calendar select event
                    $("#event_start").val($.fullCalendar.formatDate(start, "yyyy-MM-dd HH:mm:ss"));
                    $("#event_end").val($.fullCalendar.formatDate(end, "yyyy-MM-dd HH:mm:ss"));
                    $("#event_instance_id").val('');
                } else {
                    // slot update. calendar eventClick event
                    $("#event_start").val($.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss"));
                    $("#event_end").val($.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss"));
                    $("#event_instance_id").val(event.id);
                }
            }
        };

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today tomorow',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            selectable: true,
{#            selectHelper: true,#}
            select: function (start, end, allDay) {
                $('#add-event-popup').modal('show');
                calendar.events_update_form(null, start, end);
            },
            defaultView: 'agendaWeek',
            aspectRatio: 1.4,
            firstDay: 1,
            editable: true,
            events: function(start, end, callback){
                CalendarApi.events_get(start, end, callback);
            },
            eventRender: function (event, element, view) {
            },
            eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
                calendar.events_update_form(event);
                $('#rpc-event-set-js').submit();
            },
            eventResize: function (event, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view) {
                calendar.events_update_form(event);
                $('#rpc-event-set-js').submit();
            },
            eventClick: function(calEvent, jsEvent, view) {
                $('#add-event-popup').modal('show');
                calendar.events_update_form(calEvent);
            }
        });

        $('#add-event-popup .bt-submit-popup').click(function () {
            $('#rpc-event-set-js').submit();
        });

        event_form.ajax_init();

    });
</script>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-10 col-md-8 col-xs-offset-8 col-md-offset-2">
            <h1>Виберіть пунк для перегляду</h1>
            <p>{{ text }}</p>
            <div id='calendar'></div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ super }}
    <div class="modal fade add-event-popup" id="add-event-popup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Event</h4>
                </div>
                <div class="modal-body">
                    <form id="rpc-event-set-js">{% csrf_token %}
                        {{ form }}
                        <input type="hidden" name="start" id="event_start">
                        <input type="hidden" name="end" id="event_end">
                        <input type="hidden" name="instance_id" id="event_instance_id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info bt-submit-popup" title="Save">Save</button>
                    <a class="btn bt-close-popup" title="Cancel">Cancel</a>
                    <a class="btn btn-danger delete-action" title="Delete">Delete</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}